<h2><a href="#">Comments ({{ comments|length }})</a></h2>

{% if session["id"]|length %}
<form method="POST">
  <input type="text" name="comment" autocomplete="off" required/>
  <input type="submit" value="Post comment"/>
</form>
{% else %}
<form method="POST">
  <input type="text" name="comment" disabled/>
  <input type="submit" value="Post comment" disabled/>
</form>
{% endif %}

{% for comment in comments %}
<div class=comment>
  <h3>
    <a href="/users/{{ comment.username }}">{{ comment.username }}</a>
    <span>| {{ comment.time }}</span>
    <a id=delete href="/delete/comments/{{ image }}/{{ loop.index - 1}}">Delete</a>
  </h3>
  <p>{{ comment.content }}</p>
</div>
{% endfor %}
