{% extends 'base.html' %}

{% block content %}

<div id=split>
  <div>
    <h2><a href="/users/{{ username }}">{{ username }}</a><span> | {{ time }}</span></h2>
    <p>{{ location }}</p>
    <a class=boxed href="/map/images/{{ image }}">Location</a>
    {% if session["id"] == userid %}
    <a class=boxed href="/delete/images/{{ image }}">Delete</a>
    {% endif %}
    <img id=view_image src="/static/images/{{ image }}">
  </div>
  <div>
    {% include 'comments.html' %}
  </div>
</div>

{% endblock %}
