<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fish visualizer</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.png">
    <link rel="stylesheet" href="/static/water.css">
    <l ink rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <nav>
    <ul>
      {% if session["user_name"]|length %}
      <li><a href="#">{{ session["user_name"] }}</a></li>
      {% endif %}      
      <li><a href="/map">Map</a></li>
      {% if session["user_name"]|length %}
      <li><a href="/upload">Upload</a></li>
      <li><a href="/logout">Logout</a></li>
      {% else %}
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
      {% endif %}
    </ul>
  </nav>
  <main>
    {% block content %} {% endblock %}
  </main>
</body>
</html>
