body {
    margin: 0 auto;
}

nav {
    font-size: 1.25em;
}

ul {
    margin-top: 0;
}

#fish {
    display: block;
    margin: 0 auto;
    max-width: 8em;
}

#images {
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: repeat(3, minmax(100px, 250px));
}

img {
    width: 100%;
    border-radius: 0.25em;
}

