:root {
    --fg-color: black;
    --fg-color-hover: white;
    --bg-color: white;
    --bg-color-hover: #f4f4f4;
}

body {
    margin: 0;
    padding: 0;
    margin-bottom: 10em;
}

nav {
    font-size: 1.5em;
    margin-bottom: 1em;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.15);
}

nav > div {
    margin: 0 auto;
    max-width: 800px;
}

nav > div > ul > li > a {
    color: var(--fg-color);
    text-align: center;
    text-decoration: none;
}

nav > div > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: var(--bg-color);
}

nav > div > ul > li:first-of-type {
    float: left;
}

nav > div > ul > :not(li:first-of-type) {
    float: right;
}

nav > div > ul > li a {
    display: block;
    color: var(--fg-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav > div > ul > li a:hover {
    text-decoration: none;
    background: var(--bg-color-hover);
}

main {
    margin: 0 auto;
    max-width: 800px;
}

ul {
    margin-top: 0;
}

#fish {
    display: block;
    margin: 1em auto;
    max-width: 35em;
}

#images {
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: repeat(3, minmax(100px, 250px));
}

img {
    width: 100%;
    border-radius: 0.25em;
}
