body {
    margin: 0 auto;
}

nav {
    padding: 1em;
    font-size: 1.5em;
    text-align: center;
}

nav > a {
    color: white;
    padding: 0.5em 1em;
    background: #09476d;
    border-radius: 25px;
}

nav > a:hover {
    background: #09636d;
    text-decoration: none;
}
