:root {
    --fg-color: black;
    --fg-color-hover: white;
    --bg-color: white;
    --bg-color-hover: #f4f4f4;
    --max-width: 40em;
    --system-font: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--system-font);
    margin-bottom: 10em;
}

nav {
    font-size: 1.5em;
    margin-bottom: 1em;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.15);
}

nav > div {
    margin: 0 auto;
    max-width: var(--max-width);
}

nav > div > ul > li > a {
    color: var(--fg-color);
    text-align: center;
    text-decoration: none;
}

nav > div > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: var(--bg-color);
}

nav > div > ul > li:first-of-type {
    float: left;
}

nav > div > ul > :not(li:first-of-type) {
    float: right;
}

nav > div > ul > li a {
    display: block;
    color: var(--fg-color);
    text-align: center;
    padding: 0.75em;
    text-decoration: none;
    transition: background 0.2s;
}

nav > div > ul > li a:hover {
    text-decoration: none;
    background: var(--bg-color-hover);
}

main {
    margin: 0 auto;
    max-width: 60em;
}

#images {
    margin-top: 1em;
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: repeat(3, minmax(15em, 18em));
}

img {
    width: 100%;
    border-radius: 0.25em;
}

input[type=submit] {
    margin-top: 0.5em;
}

#view_image {
    display: block;
    margin-top: 1.1em;
}

.boxed {
    background: white;
    color: #222;
    padding: 0.5em;
    border-radius: 0.25em;
    border: 1px solid black;
    transition: background 0.2s;
}

.boxed:hover {
    text-decoration: none;
    background-color: var(--bg-color-hover);
}

#split {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 2em;
}

.comment {
    width: 100%;
    margin: 0.75em 0;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    background: var(--bg-color-hover);
}

#split h2, p { margin-top: 0; }
input[name="comment"] { width: 100%; }
.comment h3 > span { font-weight: normal; }
.comment p, h3 { margin: 0.25em 0; font-size: 1em; }
.comment #delete { float: right; font-weight: normal; }

